spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

server:
  port: ${PORT:8080}

app:
  jwt:
    secret: ${JWT_SECRET:trackmintSecretKeyTrackmintSecretKey123456}
    expiration: ${JWT_EXPIRATION:86400000}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.trackmint.app: DEBUG